@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 221.7 43.4% 10.4%;
    --card: 0 0% 100%;
    --card-foreground: 221.7 43.4% 10.4%;
    --popover: 0 0% 100%;
    --popover-foreground: 221.7 43.4% 10.4%;
    --primary: 35.6 44.0% 57.3%;
    --primary-foreground: 221.7 43.4% 10.4%;
    --secondary: 221.7 20% 96%;
    --secondary-foreground: 221.7 43.4% 10.4%;
    --muted: 221.7 20% 96%;
    --muted-foreground: 221.7 15% 40%;
    --accent: 35.6 44.0% 57.3%;
    --accent-foreground: 221.7 43.4% 10.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221.7 20% 90%;
    --input: 221.7 20% 90%;
    --ring: 35.6 44.0% 57.3%;
    --radius: 0.625rem;
  }
  .dark {
    --background: 221.7 43.4% 10.4%;
    --foreground: 0 0% 100%;
    --card: 221.7 43.4% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 221.7 43.4% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 35.6 44.0% 57.3%;
    --primary-foreground: 221.7 43.4% 10.4%;
    --secondary: 221.7 43.4% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221.7 43.4% 20%;
    --muted-foreground: 221.7 10% 70%;
    --accent: 35.6 44.0% 57.3%;
    --accent-foreground: 221.7 43.4% 10.4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 221.7 43.4% 25%;
    --input: 221.7 43.4% 25%;
    --ring: 35.6 44.0% 57.3%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans scroll-smooth;
  }
}